#cookie-notice {
	width:100%;
	background:#fff47f;
	padding-top:15px;

}
/*#cookie-notice-row {
	width:940px;
	max-width:100%;
	margin:0 auto;
}
#cookie-notice-column {
	padding:0 15px;
}
#cookie-notice-content,
#cookie-notice-accept {
	float:left;
}*/